*{
   margin : 0;
   padding : 0;
   box-sizing : border-box;
}

body{
   text-align : center;
    background-color: whitesmoke;
}

#links{
    display: flex;
    justify-content : center;
}

#links ul{
    list-style : none;
}