<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
     <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/register.css}"></link>
</head>
<body>
		<h1 th:text="${title}"></h1>
		<div class="Form">
	        <form th:action="@{/registeruser}" th:object="${employee}" method="post">
	            <h2>Register to become a user</h2>
	            <div class="mb-3">
	                <label for="exampleInputEmail1" class="form-label">Email address</label>
	                <input type="email" class="form-control" aria-describedby="emailHelp" th:field="*{email}">
	                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
	            </div>
	            <div class="row g-3">
	                <div class="col">
	                    <input type="text" class="form-control" placeholder="First name" aria-label="First name" th:field="*{firstname}">
	                </div>
	                <div class="col">
	                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" th:field="*{lastname}">
	                </div>
	            </div>
	            <br>
	            <div class="mb-3">
	                <label for="contact" class="form-label">Contact number</label>
	                <input type="text" class="form-control" id="contact" aria-describedby="emailHelp" th:field="*{contact}">
	            </div>
	            <div class="mb-3">
	                <label for="password" class="form-label">Password</label>
	                <input type="password" class="form-control" id="password" aria-describedby="emailHelp" th:field="*{password}">
	            </div>
	            <button type="submit" class="btn btn-primary">Register</button>
	            <a th:href="@{/login}">Login if already a user</a>
	            <br/><br/><br/>
	            <div th:if="${param.error}" class="alert alert-danger" role="alert">
		    		Please fill the fields correctly
		    	</div>
	        </form>
    	</div>
</body>
</html>